@-webkit-keyframes block-animation {
    0%, 50% {transform:translateX(-2%);  }
    50%, 100% {transform:translateX(150%); }
  }

  @-webkit-keyframes block-video-animation {
    0%, 50% {transform:translateX(150%);  }
    50%, 100% {transform:translateX(0%); }
  }


@-webkit-keyframes change-text-animation {
    0%, 50% {transform:translateX(-5%);   opacity: 0;}
    50%, 100% {transform:translateX(0%); opacity: 1;}
  }

.animation__text{
    -webkit-animation-name: change-text-animation;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: 1; 
    transform:translateX(-5%);
    opacity: 0;
    -webkit-animation-fill-mode: both;
}

.animation__block {
   
    -webkit-animation: block-animation 2s ease-in;
    -webkit-animation-fill-mode: forwards;
    
}

.animation__video__block{

    -webkit-animation: block-video-animation 2s ease-in;
    -webkit-animation-fill-mode: backwards;

}