body{
    height: 100%;
    overflow: hidden;
    line-height: 1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
    background: rgb(48,70,102);
    background: linear-gradient(243deg, rgba(48,70,102,1) 0%, rgba(69,95,126,1) 67%, rgba(113,152,179,1) 100%);

}
.header{
    width: 100%;
    height: 15%;
    margin: 0;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    margin: 2.5em;
}

.logo-img{
    height: 30px;
    padding: 1em;
    margin-right: 1em;
}

.nav div, .early-access{
    color: white;
    justify-content: center;
    justify-content: space-evenly;
    margin: 1em;
}

.early-access{
    border: 1px solid white;
    position: absolute;
    right: 5em;
    padding: 0.5em;

}

.content-outer-div{
    position: relative;
    top: 5em;
    left: 5em;
    width: fit-content;
}

.content-border{
    border: 2px solid #7cb3ce;
    width: 65em;
    position: absolute;
    height: 21em;
    border-left: 0px;
    z-index: 1;

}

.content-border-left-top{
    border-left: 2px solid #7cb3ce;
    height: 20%
}

.content-border-left-bottom{
    border-left: 2px solid #7cb3ce;
    height: 20%;
    position: absolute;
    bottom: 0;
}

.inner-content-div{
   
    height: 60%
}

.content{
    margin-left: 2em;
    margin-top: 5em;
}

.section{
    
    flex-basis: 60%;
    justify-content: center;
    align-items: center;
}

aside{
    width: 40%;
}

.line1{
    font-weight: bold;
    font-size: 1.5em;
}

.line2{
    font-size: 3.5em;
}

.line3{
    color: #cccccc;
    font-size: 15px;
    margin-bottom: 7px;
}

.email{
    background:transparent;
    border: none;
    border-bottom: 1px solid white;
    width: 90%;
    color: white;
    margin: 1em;
    margin-left:0;
    opacity: 1;
}

.video{
    height: 100%;
    width: 100%;
    object-fit: fill;
    display: block;
    transform: translate(0px, 0px) scale(1.33);
    overflow: hidden;
}

.util-hidden{
    display: none;
}

.animation__block{
    margin-left:20px;
   height: 60px;
   width: 48%;
   background: #5C98AE;
}

.loader{
    text-align: center;
    height: 100%;
    padding-top: 25%;
}